extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Thông tin tài khoản")

    .card
          .card-body
            .row.mb-3
              .col-md-6
                strong Họ và tên: 
                | #{infoUser.fullName}
              .col-md-6
                strong Email:
                | #{infoUser.email} 