doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 404 Page Not Found
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.css")
    style.
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #000;
        color: #fff;
        font-family: 'Arial', sans-serif;
        overflow: hidden;
      }
      .container {
        text-align: center;
        position: relative;
        z-index: 1;
      }
      h1 {
        font-size: 10rem;
        margin: 0;
      }
      p {
        margin: 10px 0;
        color: #ccc;
      }
      button {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
      }
      button:hover {
        background-color: #ccc;
      }
      #tsparticles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
  body
    #tsparticles
    .container
      h1 404
      p Thật tiếc trang của bạn yêu cầu không tồn tại 
      p Vui lòng thử lại một trang khác hoặc liên hệ trực tiếp với HMH Company nhé
      button(onclick="goBackHome()") GO BACK HOME
    script(src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js")
    script(src="/js/script.js")